@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

// GitList Variables
$font-size-base: 13px;

$font-family-sans-serif:  Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-mono:        Consolas, "Liberation Mono", Menlo, Courier, monospace;
